django==2.2.13
django-heroku==0.3.1
gunicorn==19.9.0
dj_database_url
psycopg2
djangorestframework==3.9.0
channels==2.1.5
channels-redis==2.3.1
django-filter
django-allauth
django-rest-auth
Pillow
uvicorn
django-cors-headers
coreapi==2.3.3
asgiref~=3.2