<!DOCTYPE html>
<html>
<head>
{% extends 'accounts/base.html'%}
{%load staticfiles%}
	<title>DeCorona</title>
	<link rel="stylesheet" type="text/css" href="{%static 'uikit.min.css'%}">
<style type="text/css">
</style>
{%block included_staticfiles%}
	<script type="text/javascript" src="{%static 'uikit.min.js'%}"></script>
	<link rel="stylesheet" type="text/css" href="{%static 'uikit.min.css'%}">
{%endblock%}
</head>
<body>
{%block navbar%}{%endblock%}
{%block body%}
<div style="background-color:black;position: absolute; height:100vh;width:100%;"></div>
<div class="uk-flex uk-flex-center" style="height:100vh;width:100%;">
{% load account_tags %}
{%login 'DeCorona Login'%}
</div>
{%endblock%}
</body>
<script type="text/javascript" src="{%static 'uikit.min.js'%}"></script>
</html>