
{% extends 'accounts/base.html'%}
{%load staticfiles%}
{%block included_staticfiles%}
	<link rel="stylesheet" type="text/css" href="{%static 'uikit.min.css'%}">
{%endblock%}
{%block navbar%}{%endblock%}
{%block body%}
<style type="text/css">
	
	html{background-color: lightgrey;}
</style>
<div class="uk-flex uk-flex-center">
<div class="uk-card uk-flex uk-flex-center uk-card-body  uk-margin-auto-vertical" style="background-color:white;">
	<form action="{%url 'accounts:signup' %}" method="post"  enctype="multipart/form-data">
		{% csrf_token %}
	    <fieldset class="uk-fieldset">
	    	<legend>DeCorona SignUp</legend>
	    	<hr class="uk-divider-icon">
			<div class="uk-margin">
				<input class="uk-input" placeholder="Username" type="text" name="username" autofocus required id="id_username" maxlength="150" /><br />
				<span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
			</div>
			<div class="uk-margin">
				<input class="uk-input" placeholder="Email" type="email" name="email" required id="id_email" maxlength="200" /><br />
				<span class="helptext">Email is required</span>
			</div>
			<div class="uk-margin">
				<input class="uk-input" placeholder="Password" type="password" name="password1" required id="id_password1" /><br>
				<span class="helptext">
					<ul class="uk-text-danger">
						<li class="uk-text-danger">Your password can't be too similar to your other personal information.</li>
						<li>Your password must contain at least 8 characters.</li>
						<li>Your password can't be a commonly used password.</li>
						<li>Your password can't be entirely numeric.</li>
					</ul>
				</span>	
			</div>
			<div class="uk-margin">
				<input class="uk-input" placeholder="Confirm Password" type="password" name="password2" required id="id_password2" /><br />
				<span class="helptext">Enter the same password as before, for verification.</span>
			</div>
			<hr class="uk-divider-icon">
	        <input class="uk-button uk-button-primary" type="submit" value="Submit" uk-button="">

	    </fieldset>
	</form>
</div>
</div>
{%endblock%}
{%block bottom_navbar%}{%endblock%}
